name: Build Package

on:
  pull_request:
    branches: "*"
jobs:
  build:

    runs-on: windows-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 7.0.x

      - name: Build project
        run: dotnet build src\jcdcdev.Eco.SeedStorage\jcdcdev.Eco.SeedStorage.csproj --configuration Release
